<section>
	<div class="container ">
		<div class="row">
			<div class="col-md-12">
				<div class="primary-title">
					My Orders
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<mat-card class="mb-4 order-list">
					<mat-card-title>Order No. 123456</mat-card-title>
					<mat-card-subtitle>Date: 10 Jan, 2050</mat-card-subtitle>
					<mat-card-content class="order-details">
						<div class="w-100 clear border">Total Products:<span class="float-right">10</span> </div>
						<div class="w-100 clear border">MRP:<span class="float-right">-$1000.23</span> </div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</section>