<section>
	<div class="container ">
		<div class="row">
			<div class="col-md-12">
				<div class="primary-title">
					Products
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4">
				<mat-card class="card-shadow">
					<a routerLink='/products/1'>
						<img mat-card-image src="/assets/shiba2.jpg" alt="Photo of a Shiba Inu" />
					</a>
					<a routerLink='/products/1'>
						<mat-card-title>Product Name</mat-card-title>
					</a>

					<mat-card-subtitle>Category</mat-card-subtitle>
					<mat-card-actions>
						<button mat-raised-button><mat-icon>add_shopping_cart</mat-icon></button>
						<button mat-raised-button color='primary'>BUY NOW</button>
					  </mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>
</section>