<section>
	<div class="container ">
		<div class="row">
			<div class="col-md-12">
				<div class="primary-title">
					Products
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4" *ngFor="let prod of allProducts">
				<mat-card class="card-shadow">
					<a [routerLink]='prod.prodLink'>
						<img mat-card-image [src]="prod.imageLink" [alt]="prod.name" />
					</a>
					<a [routerLink]='prod.prodLink'>
						<mat-card-title>{{prod.name}}</mat-card-title>
					</a>

					<mat-card-subtitle>{{prod.category}}</mat-card-subtitle>
					<mat-card-actions>
						<button mat-raised-button (click)="addToCart(prod.prodID);"><mat-icon>add_shopping_cart</mat-icon></button>
						<button mat-raised-button color='primary'>BUY NOW</button>
					  </mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>
</section>