<section>
	<div class="container ">
		
		<div class="row">
			<div class="col-md-8 mb-4 mt-4">
				<div class="prod-listing">
					<div class="prod">
						<div class="prod-title">
							{{'Product Name'}}
						</div>
						<div class="prod-price">
							₹ {{'55.00'}}
						</div>
						<div class="prod-desc">
							{{'Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus.'}}
						</div>
					</div>

					<div class="prod">
						<div class="prod-title">
							{{'Product Name'}}
						</div>
						<div class="prod-price">
							₹ {{'55.00'}}
						</div>
						<div class="prod-desc">
							{{'Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus.'}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4 mt-3 paymentCalc">
				<div class="total text-right">
					<b class="float-left">Subtotal:</b> $120
				</div>
				<div class="total text-right">
					<b class="float-left">Shipping Charge:</b> $3
				</div>
				<hr>
				<div class="total text-right">
					<b class="float-left">Net Payment:</b> $123
				</div>
			</div>
		</div>
		
	</div>
</section>